/* You can add global styles to this file, and also import other style files */
.container {
    margin-top: 40px;
}

li {
    cursor: pointer;
}


/*  navbar  index.html */
#header {
    background-color: blueviolet;
    margin-bottom: 10px;
    position: sticky !important;
    top: 0px;
    z-index: 10;
}

#header li>a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

#navTitle {
    margin-left: 110px;
    color: yellow;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
}

/*  page home ****** */
.welcome {
    max-width: 1800px;
    display: flex;
    align-items: center;
}

.homeImg {
    max-width: 1400px;
    max-height: 600px;
    margin: auto;
}

.homeTitle {
    font-style: oblique;
    color: #FFFFFF;
    background: #333333;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;

}

/* page category */
.catName {
    margin-left: 50px;
    color: yellow;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

/*  page articles */
.img_cart {

    margin-right: 10px;
}